<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--扫描实体类 生成别名-->
    <typeAliases>
        <package name="com.etjava.model"/>
    </typeAliases>
    <!--数据源交给Spring去做，这里不在配置-->
    
    <!--绑定映射文件-->
    <mappers>
        <package name="com.etjava.mapper"/>
    </mappers>
</configuration>